# Backend API
API_URL=http://localhost:3000

# Google OAuth
GOOGLE_WEB_CLIENT_ID="223595420690-952f38fs4urkbms9l5jsek58e7ifa6fn.apps.googleusercontent.com"
GOOGLE_IOS_CLIENT_ID=""
GOOGLE_ANDROID_CLIENT_ID="223595420690-rs0lr5ecpqjq3ev4jedo2d5ineimhjsh.apps.googleusercontent.com"